<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Blog about software, technology and games. Trying to focus on things which is not told anywhere else.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/style.css" rel="stylesheet" />
  <link href="/style/colors-light.css" rel="stylesheet" />
</head>
<body>

  <div id="box">
	  <header id="header">
		<h1><a href="/">{{ site.name }}</a></h1>
	  </header>
	  
	  <nav id="sidebar">
		<p>By Boris Yurkevich</p>
		<ul>
		  <li><a href="/archives">Archive</a></li>
		  <li><a href="/apps">iOS Apps</a></li>
		  <li><a href="/contact">Contact</li>
		  <li><a href="/feed.xml">RSS Feed</a></li>
		  <li><a href="https://twitter.com/borisyurkevich">Twitter</a></li>
		  <li><a href="/about">About</a></li>
		</ul>
	  </nav>

	  <div id="page">
		  
		  {{ content }}
		  
		  <footer id="footer">
			<p class="copyright">Copyright &copy; {{ site.time | date: '2016–%Y' }} {{ site.name }}.</p>
		  </footer>
	  </div>

  </div>
  
</body>
</html>