<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="description" content={{ site.description }}>
  <meta name="viewport" content="width=720">
  <link href="/style/style.css" rel="stylesheet" />
  <link href="/style/colors-light.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"
<body>

  <div id="box">
	  <header id="header">
		<h1><a href="/">{{ site.title }}</a></h1>
	  </header>
	  
	  <nav id="sidebar">
		<p>By Boris Yurkevich</p>
		<ul>
		  <li><a href="/archives">Archive</a></li>
		  <li><a href="/apps">iOS Apps</a></li>
		  <li><a href="/contact">Contact</li>
		  <li><a href="/feed.xml">RSS Feed</a></li>
		  <li><a href="https://twitter.com/borisyurkevich">Twitter</a></li>
		  <li><a href="/about">About</a></li>
		</ul>
	  </nav>

	  <div id="page">
		  
		  {{ content }}
		  
		  <footer id="footer">
			<p class="copyright">Copyright &copy; {{ site.time | date: '2016–%Y' }} {{ site.title }}.</p>
		  </footer>
	  </div>

  </div>
  
</body>
</html>